/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
  @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 42em)  { @content ; }
  }
}


@mixin inline-block($valign) {
  display: -moz-inline-stack; // ff 2
  display: inline-block;
  zoom:1; *display: inline; _height: 15px; // ie 6-7
  vertical-align: $valign;
}

@mixin font($type, $size, $lineheight: $size){
  @if $type == normal {
    font-family: $ff;
  }
  @else if $type == bold {
    font-family: $ff_bold;   
  }  
  font-size: $size;
  font-weight: normal;
  line-height: $lineheight;
}