@import "settings";
@import "foundation";
@import "variables";
@import "mixins";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Fonts */
@import url('../fonts/stylesheet.css');
/* General */
body{
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
img,
a{
  display: block;
}
ul{
  margin: 0;
  li{
    list-style: none;
  }
}
/* Elements */
header{
  font-size: 0;
  >*{
    @include inline-block(top);
    vertical-align: top;
  }
  #logo{
    margin-right: 15px;
  }
  .mainmenu{
    li{
      background: url("../images/bg_menu.png") top left no-repeat;
      @include inline-block(top);
      width: 77px;
      height: 88px;
      a{
        display: block;
        text-align: center;
        img{
          margin: 0 auto;
          margin-top: 10px;
        }
        h3{
          color: #ed3d36;
          text-transform: uppercase;
          @include font(bold, 14px);
        }
      }      
    }
    li.lcenter{
      margin: 0px 15px;
      @include breakpoint(mobileonly){
        margin: 0px 5px;
      }      
    }  
  }
  .socialnav{
    background: url("../images/bg_social.png") top left no-repeat;
    width: 123px;
    height: 65px;
    float: right;
    text-align: center;
    padding-top: 15px;
    li{
      @include inline-block(top);
    }
    li.lcenter{
      margin: 0px 9px;
    }
  }
  clear: both;
  @include breakpoint(mobileonly){
    #logo{
      width: 15%;
    }
  }    
}
#content{
  width: 45%;
  float: right;
  .maincopy{
    margin-top: 10%;
    @include breakpoint(mobileonly){
      margin-top: 0%;
    }    
    @include breakpoint(desktop){
      margin-top: 10%;
    }      
    @include breakpoint(laptop){
      margin-top: 0;
    }           
  
    h1{
      color: #fff;
      text-transform: uppercase;
      @include font(normal, 104px);
      @include breakpoint(mobileonly){
        @include font(normal, 40px);
      }       
      strong{
        @include font(bold, 133px, 08px);
        @include breakpoint(mobileonly){
          @include font(bold, 50px);
        }          
      }
      img{
        display: inline;
        position: relative;
        bottom: 25px;
      }
    }
    h2{
      color: #fff;
      text-transform: uppercase;
      @include font(bold, 24px);
      @include breakpoint(mobileonly){
        @include font(bold, 12px);
      }         
      strong{
        @include font(bold, 42px);
        @include breakpoint(mobileonly){
          @include font(bold, 16px);
        }             
      }    
    }
  }
  a{
    float: right;
    margin-top: 5%;
    margin-right: 15%;
    @include breakpoint(mobileonly){
      margin-top: -5%;
      margin-right: 2%;
    }
  }  
}
footer{
  clear: both;
  position: absolute;
  bottom: 3%;
  right: 2%;
  @include breakpoint(laptop){
    bottom: 1%;
    a{
      display: block;
      img{
        width: 60%;
        float: right;
      }
    }
  }  
  @include breakpoint(mobileonly){
    bottom: 1%;
    a{
      img{
        width: 50%;
        float: right;
      }
    }
  }  
}
.buttonball{
  display: block;
  width: 237px;
  height: 72px;
  background: url("../images/bg_button_ball.png") top left no-repeat;
  color: #fff;
  @include font(bold, 27px, 65px);
  padding-left: 40px;
  text-transform: uppercase;
}
.buttonball:hover{
  color: #fff;
}

#mecanica{
  #content{
    @include breakpoint(laptop){
      margin-top: -7%;
    }
    h1{
      @include font(bold, 40px);
      color: #0071ba;
      text-transform: uppercase;
    }
    h2{
      @include font(bold, 21px);
      color: #0071ba;
      text-transform: uppercase;
    }
    .buttonball{
      @include font(bold, 22px, 68px);
    }
    ol{
      @include font(normal, 19px);
      color: #0071ba;
      text-transform: uppercase;
      width: 85%;
      margin-top: 5%;
      margin-left: 5%;
      li{
        margin-bottom: 4%;  
        @include breakpoint(laptop){
          margin-bottom: 2%;
        }
        @include breakpoint(desktop){
          margin-bottom: 4%;
        }   
        a{
          float: initial;
          @include font(bold, 19px);
          display: inline;
          margin: 0;
          text-decoration: underline;
        }              
      }
    }
  }
}
#estadios{
  #content{
    @include breakpoint(laptop){
      margin-top: -3%;
    }    
    width: 70%;
    margin: 0 auto;
    float: initial;
    text-align: center;
    h1{
      @include font(bold, 30px);
      color: #fff;
      text-transform: uppercase;
    }
    h2{
      @include font(bold, 21px);
      color: #fff;    
      text-transform: uppercase;
    }
    .estadios{
      margin-top: 40px;
      margin-bottom: 30px;
      .desc{
        background: url('../images/bgestadio.png') top center no-repeat;
        width: 218px;
        height: 218px;
        margin: 0 auto;
        h2{
          @include font(bold, 31px);
          padding-top: 20px;
        }
        img{
          margin: 0 auto;
        }
      }
      a.btndownload{
        text-align: left;
        @include font(bold, 33px);
        padding-left: 12px;
        text-transform: uppercase;
        background: url('../images/descargar.png') top left no-repeat;
        color: #0071ba;
        width: 218px;
        height: 100px;
        line-height: 100px;
        float: none;
        margin: 0 auto;        
        margin-top: 12px;
      }
    }
  }
}
#fanaticos{
  header .mainmenu li.lcenter{
    margin: 0px 0px;
  }
  #instagram{
    background: #fff;
    width: 480px;
    margin: 0 auto;     
    position: relative;
    top: -164px;      
    .instawrapper{
      h1{
        @include font(bold, 21px);
        text-transform: uppercase;
        color: #f04250;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;
      }
      #banner{
        h2{
          color: #0071ba;
          @include font(bold, 17px);
          text-transform: uppercase;
        }
        a{
          color: #0071ba;
          @include font(bold, 17px, 26px);
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}
#myModal{
  h2{
    @include font(bold, 50px);
    text-align: center;
  }
}
.estadiomodal{
  img{
    margin: 0 auto;
  }
}

/* Responsive */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) { 
  header{
    .mainmenu{
      li{
        background-position: bottom center;
        width: 40px;
        height: 55px;
        a{
          img{
            width: 45%;
          }
          h3{
            font-size: 11px;
            line-height: 11px;
            letter-spacing: -1px;
          }
        }
      }
      li.lcenter{
        margin: 0px 2px;
      }
    }
    .socialnav{
      width: 98px;
      background-position: bottom center;
      height: 55px;
      li{
        a{
          img{
            width: 20px;
          }
        }
      }
      li.lcenter{
        margin: 0px 4px;
      }
    }
  }
  #content{
    .maincopy{
      h1{
        margin-top: 140px;
        font-size: 26px;
        line-height: 26px;
        strong{
          font-size: 40px;
          line-height: 40px;
        }
        img{
          width: 50px;
          bottom: 8px;
        }
      }
    }
  }
  #estadios{
    #content{
      width: 95%;
      .estadiosgrid{
        .columns{
          @include grid-column(12);
          margin-top: 0pc;
          margin-bottom: 20px;
          .modalbox{
            width: 92%;
          }          
        }
      } 
      h2{
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (orientation: portrait){
  #mecanica{
    background: none !important;
    #content{
      float: initial;
      width: 90%;
      margin: 0 auto;
    }   
  }
  #estadios{
    footer{
      position: static;
    }   
  }
  #fanaticos footer{
    display: none;
  }
  #fanaticos{
    #instagram{
      top: inherit;
      width: 100%;
    }
  }
} 
/* landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (orientation: landscape){
  #content{
    .maincopy{
      h1{
        margin-top: 0px;
      }
    }
  }
} 
#mecanica footer{
  position: static;
  float: right;
  margin-top: 2%;
} 